.header-container {

    background-color: #efeeee;
    color: #484747;
    padding: 20px ;
   
    gap: 25px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    width: 100%;
    
   
   
}
.h2 {
    margin: 0;
  }

h2:hover {
    color: #33a1a7;
    cursor: pointer;
    outline: none;
}